
@import "tailwindcss";

:root {
  --primary: hsl(0, 0%, 98%);
  --complementary: hsl(0, 0%, 100%);
  --foreground: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
}

.dark {
  --primary: hsl(207, 26%, 17%);
  --complementary: hsl(209, 23%, 22%);
  --foreground: hsl(0, 0%, 98%);
  --input: hsl(209, 23%, 22%);
}



@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --font-nunito: var(--font-nunito-sans)
}


body {
  background: var(--primary);
  color: var(--foreground);
  font-family: var(--font-nunito);
}

.light{
  background: var(--complementary);
}

.input {
  background: var(--input);
}

