@import "tailwindcss";

:root {
  --primary: #ededed;
  --complementary: #ffffff;
  --foreground: #404656;
}

.dark {
  --primary: #202d36;
  --complementary: #2B3743;
  --foreground: #ededed;
}



@theme inline {
  --color-background: var(--primary);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.light{
  background: var(--complementary);
}

